[Unit]
Description=CSD Server Service
After=network.target

[Service]
User=rehak
Group=rehak
WorkingDirectory=/opt/csd-server
EnvironmentFile=/etc/default/csd-server
ExecStart=/opt/csd-server/.venv/bin/gunicorn -w 4 --bind 0.0.0.0:5000 'src.csd_server.cli:create_app()'
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
